* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

#root {
	height: 100vh;
	background-color: skyblue;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
